//- написать на чистом js
mixin dropdown
  .iqdropdown
    p.iqdropdown-selection
    .iqdropdown-menu
      .iqdropdown-menu-option(data-id='item1')
        div
          p.iqdropdown-item Item 1
          p.iqdropdown-description A short description
      .iqdropdown-menu-option(data-id='item2')
        div
          p.iqdropdown-item Item 2
          p.iqdropdown-description A short description
      .iqdropdown-menu-option(data-id='item3')
        div
          p.iqdropdown-item Item 3
          p.iqdropdown-description A short description
  .dropdown.elements__item 
    .elements__item_header
      h3.h3=title
    .card__input-wrapper 
      .card__input-dropdown.card__input-dropdown-pre-default=inputText
      span.material-icons.material-icons-expand expand_more

mixin radiobuttons(title)
  .radiobuttons.elements__item 
    .elements__item_header.radiobuttons__header
      h3.h3=title 
    .radiobutton-wrapper 
      p.radiobutton__item
        input.input#test1(type='radio' name='radio-group' checked='')
        label.radiobutton__item_label(for='test1') Мужчина
      p.radiobutton__item
        input.input#test2(type='radio' name='radio-group')
        label.radiobutton__item_label(for='test2') Женщина

mixin toggle(text)
  .toggle.elements__item 
    .toggle__item 
      label.switch   
        input(type="checkbox")
        span.slider.round
      span=text

mixin date-dropdown(title)
  //- .date-dropdown-wrapper
  .date-dropwown.elements__item.elements__item-box
    .elements__item_header
      h3.h3=title 
    .card__input-wrapper
      input.card__input-date-dropdown.calendar
      span.material-icons.material-icons-expand expand_more