mixin text-field-default(title, status, placeholder)
  .text-field-default.elements__item
    .elements__item_header
      h3.h3=title 
      span.elements__item_state=status
    input.card__input(type="text" placeholder=placeholder)

mixin text-field-hover(title, status, placeholder)
  .text-field-hover.elements__item 
    .elements__item_header
      h3.h3=title  
      span.elements__item_state=status
    input.card__input.card__input-hover(type="text" placeholder=placeholder)

mixin dropdown(title, inputText)
  .dropdown.elements__item 
    .elements__item_header
      h3.h3=title
    .card__input-wrapper 
      .card__input-dropdown.card__input-dropdown-pre-default=inputText
      span.material-icons.material-icons-expand expand_more

mixin subscription-text-field(title, placeholder)
  .subscription-text-field.elements__item 
    .elements__item_header
      h3.h3=title
    .footer__input-wrapper 
      input.footer__box_item-input(type="text" placeholder=placeholder)
      button.footer__button-input 
        span.material-icons.material-icons-arrow-blue arrow_forward
